* {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
}
:root {
  --primary-color: #4a99d3;
  --text-primary-color: #260041;
}
body {
  font-family: "Roboto", sans-serif !important;
}

.pd-container-hz {
  padding-left: 10%;
  padding-right: 10%;
}
/* header */
.header-container {
  display: flex;
  /* background-color: yellow; */
  padding: 3% 10% 1% 10%;
  justify-content: space-between;
}

.bg-1 {
  background-color: coral;
}

.bg-0 {
  background-color: yellow;
}
.text-primary {
  color: var(--primary-color) !important;
}
.menu-container > div {
  margin-right: 10%;
  font-size: 1.1em;
  margin-top: 2.5%;
}

.garis {
  border-bottom: var(--primary-color) 2px solid !important;
  height: 1.2em !important;
  width: 20%;
  text-align: center;
}

.logo {
  width: 10%;
  font-size: 2em;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--primary-color);
  /* margin-right: auto; */
}

.menu-container {
  display: flex;
  /* justify-content: space-around; */
  width: 30%;
  margin-right: 10%;
}
.warna {
  color: red;
}
.bar-menu {
  display: none;
}
/* header */

/* jumbotron 1*/
.jumbotron-1-container {
  display: flex;
  margin-top: 20vh;
}
.jumbotron-1-container > div:first-child {
  width: 65%;
}
.jumbotron-1-container > div:last-child {
  width: 35%;
}
.title {
  font-size: 3.5em;
  letter-spacing: 0.02em;
  color: var(--text-primary-color);
  width: 94%;
  line-height: 1.3em;
}

.subtitle {
  color: var(--text-primary-color);
  font-size: 20px;
  line-height: 1.8 em;
  margin-top: 3vh;
  letter-spacing: 1px;
  text-align: justify;
  width: 95%;
}

.button-container {
  margin-top: 5vh;
}

.button-container > button {
  background-color: var(--primary-color);
  font-size: 20px;
  border: none;
  color: whitesmoke;
  padding: 10px;
  width: 20%;
  border-radius: 5px;
  margin-right: 3%;
}
.image-container {
  margin-top: -12%;
}

/* jumbotron 1 */

/* jumbotron 2 */
.jumbotron-2-container {
  display: flex;
  height: 50vh;
  flex-wrap: wrap;
}
.kotak1 {
  width: 50%;
  height: 30vh;
}
/* .kotak2 {
  width: 50%;
  height: 70vh;
}
.kotak3 {
  width: 50%;
} */

/* gradient  */
.gradient-container {
  background: linear-gradient(180deg, #42a4f5fd -100.39%, #4a99d300 75.85%),
    #ffffff;
}
/* gradient */

/* for tablet */
@media only screen and (max-width: 768px) {
  .logo {
    color: yellow;
  }
}
/* for tablets */

/* for handphone*/
@media only screen and (max-width: 600px) {
  /* header */
  .logo {
    color: red;
  }
  .header-container {
    padding: 3% 2% 1% 2%;
  }

  /* header */
  /* jumbotron-1 */
  .jumbotron-1-container {
    flex-direction: column;
    margin-top: 8vh;
  }

  .jumbotron-1-container > div:first-child {
    width: 100%;
  }

  .jumbotron-1-container > div:last-child {
    width: 100%;
    order: -1;
  }

  .pd-container-hz {
    padding-left: 2%;
    padding-right: 2%;
  }
  .title {
    width: 100%;
    font-size: 2.5em;
  }
  .menu-container {
    display: none;
  }
  .bar-menu {
    display: block;
  }
  .image-container {
    height: 50vh;
    /* object-fit: cover; */
    /* object-position: center bottom; */
    /* overflow: hidden; */
  }

  .foto {
    height: 100%;
  }

  .button-container > button {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 3vh;
    border-radius: 5px;
    margin-right: 3%;
  }
  /* jumbotron-1 */
}
/* for handphone */
