*{
    margin: 0px;
    padding: 0px;
}

:root{
    --bg-aja :aquamarine;
}

/* .bg-1{
    background-color: var(--bg-aja);
    display: bl;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    margin-top: 100px;
} */
/* .bg-2{
    background-color: orange ;
    font-size: large;
} */
/* .bg-3{
    background-color: olivedrab;
} */
/* div{
    background-color: red;
} */
/* .ft-red{
    color: red;
} */

/* .bg-1:hover{
    background-color: red;
    cursor: pointer;
    height: 300px;
    transition: 700ms;
} */

.bg-0{
    background-color: yellowgreen;
}

.bg-1{
    background-color: antiquewhite;
}

.bg-2{
    background-color: rgb(16, 246, 169);
}
.bg-3{
    background-color: coral;
}

.kotak{
    width: 19.4%;
    height: 10vh;
    margin: 0px 0.3%;
    /* padding: 0px 10px; */
}

.container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-around ; */
    /* align-items: center;  */
    height: 20vh;
}
/* 
    justify content kalo flex-d row maka dia akan menagatur 
    secara horizontal,
    tapi klo flex-d column maka akan mengatur secara vertikal
*/

.middle-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
}

.tes{
    padding: 0px 100px;
    /* width: 100%; */
}