.image-container {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-container-1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.foto {
  transition: 500ms;
  object-fit: cover;
}

.foto-1 {
  transition: 500ms;
  background-size: cover;
}
.melengkung {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.magnif:hover .foto {
  transform: scale(1.1);
  transition: 500ms ease-in;
}

.foto-1:hover {
  transform: scale(1.1);
  transition: 500ms ease-in;
}

.bookmark {
  top: 10px;
  right: 5px;
  z-index: 10;
}
