*{
    margin: 0px;
    padding: 0px;
}


.middle-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
}

.bg-0{
    background-color: yellowgreen;
}

.bg-1{
    background-color: magenta;
}

.bg-2{
    background-color: rgb(16, 246, 169);
}
.bg-3{
    background-color: coral;
}

.bg-4{
    background-color: burlywood;
}


.kotak0{
    height:15vh ;
    border-radius: 5px;
    margin: 1%;
    box-shadow: -6px 3px 11px -2px rgba(94,94,94,0.75);
    -webkit-box-shadow: -6px 3px 11px -2px rgba(94,94,94,0.75);
    -moz-box-shadow: -6px 3px 11px -2px rgba(94,94,94,0.75);
}   

.kotak1{
    height:60vh ;
    margin: 1%;
    display: flex;
   
}   
.kotak2{
    height:40vh ;
}

.kotak3{
    height: 20vh;
}

.container > div{
    margin: 1%;
}

.kotak1 > div{
    flex: 1;
    margin: 0px 0.5%;
}
.kotak5 > div{
    height: 49%;
    margin: 0% 0% 1% 0%;
}

/* .kotak4{
    flex: 1;
}
.kotak5{
    flex: 1;
} */